In [22]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [57]:
df=pd.read_csv("C:\\Users\\HP\\DSBDA Assignments\\StudentsPerformance_ASS1.csv")

In [55]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,NaN
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
6,female,group B,some college,standard,completed,88.0,95.0,92.0
7,male,group B,some college,free/reduced,none,40.0,43.0,39.0
8,male,group D,high school,free/reduced,completed,64.0,64.0,67.0
9,female,group B,high school,free/reduced,none,38.0,60.0,50.0

In [45]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     8
reading score                  0
writing score                  0
dtype: int64

In [46]:
df.describe()

       math score  reading score  writing score
count  969.000000     977.000000     977.000000
mean    66.750258      69.531218      68.473900
std     14.644392      14.317152      14.859988
min      8.000000      23.000000      19.000000
25%     58.000000      60.000000      58.000000
50%     67.000000      70.000000      69.000000
75%     77.000000      80.000000      79.000000
max    100.000000     100.000000     100.000000

In [30]:
df['reading score'].describe()

count    990.000000
mean      69.426263
std       14.367561
min       23.000000
25%       60.000000
50%       70.000000
75%       80.000000
max      100.000000
Name: reading score, dtype: float64

In [63]:
df.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                     float64
reading score                  float64
writing score                  float64
gender_encoded                   int32
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   991 non-null    float64
 6   reading score                990 non-null    float64
 7   writing score                987 non-null    float64
dtypes: float64(3), object(5)
memory usage: 62.6+ KB

In [10]:
df.shape

(1000, 8)

In [65]:
df.dropna(subset=['writing score','reading score'], inplace=True)
df['writing score'] = df['writing score'].astype('numeric')
# df['math score']=df['math score'].astype('int')
# df['reading score'].astype('int')

TypeError: data type 'numeric' not understood

In [41]:
df.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                     float64
reading score                  float64
writing score                    int32
dtype: object

In [54]:
# df = pd.get_dummies(df['gender'])
encoded_df = pd.get_dummies(df, columns=['gender'])

In [67]:
le=LabelEncoder()
df['gender_encoded']=le.fit_transform(df['gender'])
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,gender_encoded
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0,0
1,female,group C,some college,standard,completed,69.0,90.0,88.0,0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0,0
4,male,group C,some college,standard,none,76.0,78.0,75.0,1
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0,0